.planet_list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  cursor: pointer;
}
.active_selection {
  border-bottom: 3px solid var(--txt-color);
  padding-bottom: 0.4rem;
}

.planet {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem 0;
}
.planet_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;
}

.facts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* == Tablet */
@media screen and (min-width: 720px) {
  .destinationPage_container {
    margin-top: 2rem;
    gap: 4rem;
  }
 
  .planet_info {
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
  }
}
/* ==Pc */
@media screen and (min-width: 1024px) {
  .destinationPage_container {
    margin-top: 0;
    gap: 2rem;
  }
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    align-items: center;
  }
  .destinationPage_container p {
    text-align: left;
    align-self: self-start;
  }
  .destinationPage_container img {
    width: 100%;
    object-fit: contain;
    scale: 0.9;
  }

  .body_item2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .planet_list {
    justify-content: start;
  }
  .destinationPage_container h2 {
    text-align: left;
    font-size: 81px;
  }
  .planet {
    padding: 0;
  }

  .planet_info {
    flex-direction: row;
    justify-content: space-between;
  }
  .planet_info p:nth-child(1) {
    font-size: 16px;
  }
  .planet_info p:nth-child(2) {
    font-size: 32px;
  }
}
